<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wix.reactnativenotifications">

    <application>

        <!--
         A proxy-service that gives the library an opportunity to do some work before launching/resuming the actual application task.
         -->
        <service android:name=".core.ProxyService"/>

        <service
            android:name=".fcm.FcmInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".fcm.FcmInstanceIdRefreshHandlerService"
            android:exported="false" />

        <receiver android:name=".core.notification.ScheduledNotification" >
            <intent-filter>
                <action android:name="PushLocalNotification" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
