<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wix.reactnativenotifications">

    <!--
     Permissions required for enabling FCM.
     -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <!--
         A proxy-service that gives the library an opportunity to do some work before launching/resuming the actual application task.
         -->
        <service android:name=".core.ProxyService"/>

        <service
            android:name=".fcm.FcmInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".fcm.FcmInstanceIdRefreshHandlerService"
            android:exported="false" />
    </application>

</manifest>
