<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wix.reactnativenotifications">

    <!-- Ref: http://stackoverflow.com/questions/13602190/java-lang-securityexception-requires-vibrate-permission-on-jelly-bean-4-2 -->
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18" />

    <application>

        <!--
         A proxy-service that gives the library an opportunity to do some work before launching/resuming the actual application task.
         -->
        <service android:name=".core.ProxyService"/>

        <!-- Dispatched by the GcmReceiver when messages are received. -->
        <service
            android:name="com.wix.reactnativenotifications.fcm.FcmMessageHandlerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Dispatched by the GcmReceiver. Starts the designated refresh-handling service. -->
        <service
            android:name=".fcm.FcmInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.FcmInstanceIdRefreshHandlerService"
            android:exported="false" />
    </application>

</manifest>
